In [8]:
#Below declaring variable
x = str(5)
y = "Hello World"

In [11]:
print(x)

5

In [15]:
print(type(x))

<class 'int'>

In [16]:
a = 4
A = "Sally"

In [17]:
print(a)
print(A)

4
Sally

In [18]:
x,y,z = "Apple","Banana","Grape"

In [19]:
print(y)

Banana

In [20]:
x = y = z = "Orange"

In [22]:
print(y)

Orange

In [27]:
items = ["Pencil","Box","Camera"]
p,q,s = items
print(p)
print(q)
print(s)

Pencil
Box
Camera

In [31]:
x = "Python"
y = "is"
z = "awesome"
v = "version"
v1 = 5
print(x, y, z)

Python is awesome

In [32]:
print(p,q,s)

Pencil Box Camera

In [33]:
print(v,v1)

version 5

In [36]:
x = "awesome"

def myFunction():
    print("pythons is "+x)
    
myFunction()

pythons is awesome

In [39]:
def MyOtherFunction():
    global data
    data = "Hello World"

MyOtherFunction()
print(data)

Hello World

In [3]:
complex1 = 1j

In [5]:
print(complex1)
print(type(complex1))

1j
<class 'complex'>

In [6]:
range1 = range(10)
print(range1)

range(0, 10)

In [7]:
none1 = None
print(none1)
print(type(none1))

None
<class 'NoneType'>

In [13]:
dict1= {"first":"Abdul","last":"Qayyum","age":32}
print(dict1)
print(dict1)

{'first': 'Abdul', 'last': 'Qayyum', 'age': 32}

KeyError: 0

In [16]:
list1 = [1,2,3]
tuple1 = (1,2,3)
dict1 = {1:1,2:2,3:3}
set1 = {1,2,3}
frozenSet1 = ({1,2,3})

print(list1,tuple1,dict1,frozenSet1)
print(type(list1))
print(type(tuple1))
print(type(dict1))
print(type(set1))
print(type(frozenSet1))

[1, 2, 3] (1, 2, 3) {1: 1, 2: 2, 3: 3} {1, 2, 3}
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>
<class 'set'>

In [17]:
import random
print(random.randrange(1,10))

4

In [21]:
a = '''dem
    Hai
    Awak
'''

print(a)

dem
    Hai
    Awak

In [22]:
print(a[0])

d

In [23]:
for x in a:
    print(x)

d
e
m






H
a
i






A
w
a
k

In [24]:
print(len(a))

21

In [26]:
print("Hai" in a)

True

In [27]:
if "Hai" in a:
    print("Available")

Available

In [28]:
print("Hai" not in a)

False

In [32]:
text = "Hello, World"
print(text[2:5])

llo

In [31]:
print(text[:5])

Hello

In [33]:
print(text[2:])

llo, World

In [37]:
print(text[-1:-1])

In [38]:
print(text.upper())

HELLO, WORLD

In [39]:
print(text.lower())

hello, world

In [41]:
print(text.strip())

Hello, World

In [43]:
b = " Hello, World "
print(b.strip())

Hello, World

In [46]:
print(b.replace("H","J"))

 Jello, World

In [47]:
print(b.split(","))

[' Hello', ' World ']

In [6]:
a = "Hello"
b = "World"
c = a+b
print(c)

HelloWorld

In [7]:
c = a+" "+b
print(c)

Hello World

In [8]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [9]:
quantity = 3
itemNo = 567
price = 49.95
myOrder = "I want {} pieces of item {} for {} dollars."
print(myOrder.format(quantity,itemNo,price))

I want 3 pieces of item 567 for 49.95 dollars.

In [10]:
txt = "I am a \" programmer \""
print(txt)

I am a " programmer "

In [14]:
print(10==1)
print(5<4)
print(not False)

False
False
True

In [15]:
if 1 == 1:
    print(True)
else:
    print(False)

True

In [16]:
print(bool("Hello"))

True

In [17]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

In [18]:
bool("abc")
bool(123)
bool(["apple", "cherry", "banana"])

True

In [19]:
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

In [22]:
def mySample():
    return True

print(mySample())

True

In [25]:
x = 200
print(isinstance(x,str))

False

In [27]:
myList = ["Apple","banana","cherry"]
print(myList)

['Apple', 'banana', 'cherry']

In [28]:
print(len(myList))

3

In [29]:
print(type(myList))

<class 'list'>

In [30]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

In [31]:
print(thislist[1])

banana

In [32]:
print(thislist[-1])

cherry

In [33]:
print(thislist[-2])

banana

In [34]:
print(thislist[-3])

apple

In [35]:
print(thislist[-4])

IndexError: list index out of range

In [36]:
print(thislist[3])

IndexError: list index out of range

In [37]:
print(thislist[2])

cherry

In [38]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [39]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [41]:
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [42]:
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

In [43]:
if "cherry" in thislist:
    print("Yes!")

Yes!

In [44]:
thisValue = ["a","b","c"]
print(thisValue[1])
thisValue[1] = "z"
print(thisValue[1])

b
z

In [45]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [47]:
thislist.insert(0,"snake")

In [48]:
print(thislist)

['snake', 'apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [49]:
thislist.append("cat")
print(thislist)

['snake', 'apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango', 'cat']

In [55]:
group1 = ['A','B','C']
group2 = ('D','E','F')

In [56]:
group1.extend(group2)

In [57]:
print(group1)

['A', 'B', 'C', 'D', 'E', 'F']

In [58]:
group1.remove("A")
print(group1)

['B', 'C', 'D', 'E', 'F']

In [60]:
group1.pop(1)

'C'

In [61]:
print(group1)

['B', 'D', 'E', 'F']

In [63]:
group1.pop()
print(group1)

['B', 'D', 'E']

In [70]:
items = ["book","pencil","paper","eraser","pen"]
for x in items:
    print(x)

book
pencil
paper
eraser
pen

In [74]:
for i in range(len(items)):
    print(items[i])

book
pencil
paper
eraser
pen

In [2]:
[print(x) for x in items]

NameError: name 'items' is not defined

In [1]:
fruits = ["Apple","banana","cherry","kiwi","Mango"]
newList = []

In [2]:
for x in fruits:
    if 'a' in x:
        newList.append(x)
print(newList)

['banana', 'Mango']

In [3]:
newList = [x for x in fruits if x != "Mango"]
print(newList)

['Apple', 'banana', 'cherry', 'kiwi']

In [4]:
newList = [x for x in fruits if x != "as"]
print(newList)

['Apple', 'banana', 'cherry', 'kiwi', 'Mango']

In [6]:
newList = [x for x in fruits]
print(newList)

['Apple', 'banana', 'cherry', 'kiwi', 'Mango']

In [8]:
newList = [x for x in range(10) if x < 5]
print(newList)

[0, 1, 2, 3, 4]

In [9]:
newList = [x for x in range(10) if x < 9]
print(newList)

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [11]:
thislist = ["orange","mango","kiwi","pineapple","banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [12]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

In [13]:
thislist.sort(reverse = True)
print(thislist)

[100, 82, 65, 50, 23]

In [14]:
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

In [15]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

In [16]:
mylist = ["apple","orange"].copy()
print(mylist)

['apple', 'orange']

In [17]:
list1 = ["a","b","c"]
list2 = [1,2,3]
list3 = list1+list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [18]:
for x in list1:
    list2.append(x)
print(list2)

[1, 2, 3, 'a', 'b', 'c']

In [20]:
thisTuple = ("banana","apple","orange")
print(thisTuple)

('banana', 'apple', 'orange')

In [21]:
print(len(thisTuple))

3

In [23]:
singleTuple = ("apple",)
print(type(singleTuple))
singleTuple = ("apple")
print(type(singleTuple))

<class 'tuple'>
<class 'str'>

In [24]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

print(tuple1)
print(tuple2)
print(tuple3)

('apple', 'banana', 'cherry')
(1, 5, 7, 9, 3)
(True, False, False)

In [25]:
tuple1 = ("abc", 34, True, 40, "male")
print(tuple1)

('abc', 34, True, 40, 'male')

In [26]:
thisIsTuple = tuple(("a","b","c"))
print(thisIsTuple)

('a', 'b', 'c')

In [27]:
thisTuple = (1,2,3)
print(thisTuple[1])

TypeError: 'tuple' object is not callable